<div class="footer-container">
    
    <a href=""><img src="/images/logos/logo.jpeg" alt="" class="logo-footer"></a>

  
    <div class="contacto">
        <div class="contacto-text">
            <h3>CONTACTO</h3>
        </div>           
        <a  href="tel:1154753103"class="numero">telefono: 11 5475-3103</a>
        <a href="mailto:contratista.fidel.gonzalez@gmail.com">contratista.fidel.gonzalez@gmail.com</a>
    </div>

</div>