<div class="header-container">

    <a href="" class="logo-container"><img class="img-logo" src="/images/logos/gonzalez (1).gif"  alt=""></img></a>


    <input type="checkbox" id="check">
    <label for="check" class="hamburguer menu-btn">
        <img class="menu-mobile" src="/images/icons/menu_white_48dp.svg" alt="" load="lazy">
    </label>

    
    <ul class="nav-header">
        <li ><a class="active" href="/"> HOME</a></li>
        <li><a href="#">SERVICIOS</a></li>
        <li><a href="quienessomos"> NOSOTROS</a></li>
        <li><a href="#"> CONTACTO</a></li>
        <li class="logueo"><a href="/logueo"> INICIAR SESION</a></li>
    </ul>
    

</div>