<div class="main-nosotros">

    <div class="nosotros">
        <div class="nosotros-text">
            <div class="title-nosotros">
                <h2>Quienes somos?</h2>
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim veritatis quod repellendus ducimus quasi provident reprehenderit recusandae tempora id, qui distinctio sapiente rerum a reiciendis eaque non. Ut, magnam ipsam,sicing elit. Enim veritatis quodrepellendus magnam ipsam.
            </div>
        </div>
        <div class="nosotros-img"><img src="images/persona-pensando.jpg" alt="" class="img-nosotros"></div>

    </div>



</div>